<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the server w</title>
</head>
<body>
    <form action="/server/wo">
        计算机名:<input type="text" name="servername"><br>
        计算机SN:<input type="text" name="serversn"><br>
        计算机资产号:<input type="text" name="serverasn"><br>
        计算机IP:<input type="text" name="serverip"><br>
        机柜排号:<input type="text" name="Row"><br>
        机柜列号:<input type="text" name="column"><br>
        机柜U号:<input type="text" name="U_Number"><br>
        机房选择:<select name="g_id">
        {% for foo in gname %}
            <option value ={{ foo[0] }}>{{ foo[1] }}</option>
        {% endfor %}
</select>
        <input type="submit" value="提交"><br>
    </form>
</body>
</html>



